[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/util"]
	path = src/util
	url = https://github.com/dojo/util.git
[submodule "src/dijit"]
	path = src/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/put-selector"]
	path = src/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "src/dbootstrap"]
	path = src/dbootstrap
	url = https://github.com/atoha/dbootstrap.git
[submodule "src/dojox"]
	path = src/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/dgrid"]
	path = src/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "src/leaflet_navbar"]
	path = src/leaflet_navbar
	url = https://github.com/davidchouse/Leaflet.NavBar.git
[submodule "srr/leaflet-measure"]
	path = srr/leaflet-measure
	url = https://github.com/ljagis/leaflet-measure.git
[submodule "src/leaflet-measure"]
	path = src/leaflet-measure
	url = https://github.com/ljagis/leaflet-measure.git
