[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/util"]
	path = src/util
	url = https://github.com/dojo/util.git
[submodule "src/dijit"]
	path = src/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/put-selector"]
	path = src/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "src/dbootstrap"]
	path = src/dbootstrap
	url = https://github.com/atoha/dbootstrap.git
[submodule "src/dojox"]
	path = src/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/dgrid"]
	path = src/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "src/leaflet_navbar"]
	path = src/leaflet_navbar
	url = https://github.com/davidchouse/Leaflet.NavBar.git
[submodule "srr/leaflet-measure"]
	path = srr/leaflet-measure
	url = https://github.com/ljagis/leaflet-measure.git
[submodule "src/leaflet-measure"]
	path = src/leaflet-measure
	url = https://github.com/ljagis/leaflet-measure.git
[submodule "src/leaflet-singletilewms"]
	path = src/leaflet-singletilewms
	url = https://github.com/ismyrnow/Leaflet.singletilewms.git
[submodule "src/leaflet-notiled"]
	path = src/leaflet-notiled
	url = https://github.com/ptv-logistics/Leaflet.NonTiledLayer.git
[submodule "src/leaflet-minimap"]
	path = src/leaflet-minimap
	url = https://github.com/Norkart/Leaflet-MiniMap.git
[submodule "src/dstore"]
	path = src/dstore
	url = https://github.com/SitePen/dstore.git
[submodule "src/xstyle"]
	path = src/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "src/cbtree"]
	path = src/cbtree
	url = git@github.com:nacholore/cbtree.git
