doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}

		link(rel="stylesheet", type="text/css", href="cbtree/themes/dbootstrap/dbootstrap.css", media="all")
		link(rel="stylesheet", type="text/css", href="app-client/resources/css/global.css", media="all")
		link(rel="stylesheet", type="text/css", href="leaflet/leaflet.css", media="all")
		link(rel="stylesheet", type="text/css", href="dgrid/css/dgrid.css", media="all")
		link(rel="stylesheet", type="text/css", href="resources/css/font-awesome.min.css", media="all")
		link(rel="stylesheet", type="text/css", href="resources/css/leaflet-controls.css", media="all")
		link(rel="stylesheet", type="text/css", href="resources/css/leaflet-measure.css", media="all")

		script(src='dojoConfig.js')

		script(src='dojo/dojo.js')


	body(class="dbootstrap")
		script(src="app-client/main.js")