html, body {
	width: 100%; height: 100%;
	border: 0; 
	padding: 0; 
	margin: 0;
	font-family: 'Exo 2', sans-serif !important;
	font-size: 13px !important;
	line-height: 16px !important;
}

body * {
		outline: 0 !important;
}

.map {
	cursor: help;
}

/* Hace flotante un div sobre el mapa */
.toolbar {
	z-index:1000;
	position:absolute;
}

.left {
	left:8px;
	top:85px;
	width: 37px;
}

.top {
	right: 10px;
	top: 10px;
}

.left > .dijitButton {
	margin: 0px;
}
.left .dijitButtonNode {
	padding: 9px 12px !important;
	border: none !important;
}

.dijitButtonContents {
	outline: 0 !important;
}

div.toolbar.top .dijitButton .dijitButtonNode {
		padding: 5px 14px;
}

div.toolbar.top .dijitButton {
	margin: 0 0.2em
}

.dijitTabListWrapper {
	left: 0px !important;
}

.selectPort {
	float: right;
}

.banner {
	background: url('banner.png') no-repeat;
	background-position: center;
}

.map {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
		 -moz-box-shadow: 0 8px 6px -6px black;
					box-shadow: 0 8px 6px -6px black;
}

.shadow {
	-moz-box-shadow:    3px 3px 2px 3px #ccc;
	-webkit-box-shadow: 3px 3px 2px 3px #ccc;
	box-shadow:         3px 3px 2px 3px #ccc;
}

.active {
	-moz-box-shadow:    3px 3px 2px 3px rgba(0,136,204,0.5);
	-webkit-box-shadow: 3px 3px 2px 3px rgba(0,136,204,0.5);
	box-shadow:         3px 3px 2px 3px rgba(0,136,204,0.5);
}

.baselayerItemLabel {
	background: white;
	opacity: 0.8;
	padding: 5px;
	border-radius: 4px;
	margin: 0px auto;
	line-height: 80px;
	font-size: 20px;
}

.baselayerItemContainer {
	width: 100%;
	max-width: 750px;
	height: 80px;
	border-radius: 4px;
	margin: 0px 0px 15px 0px;
	text-align: center;
	cursor: pointer;
}

.link {
	cursor: pointer;
	color: #0088CC;
	padding-right: 4px;
}

.form-group {
	width: 100%;
	clear: both;
}

.form-group div:first-child {
	font-style: italic;
	text-align: right;
	padding-right: 12px;
	float: left;
	width: 35%;
}

.form-group div:last-child {
	margin-left: calc(35% + 15px);
}

.stackController {
	text-align: center;
}

.controllers {
	margin: 0 auto;
}

.controllers span.index {
	width: 60px;
	display: inline-block;
}
.controllers .index div {
	display: inline;
}

span.spin {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 800ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 800ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 800ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
}

@-moz-keyframes spin {
		from { -moz-transform: rotate(0deg); }
		to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
		from { -webkit-transform: rotate(0deg); }
		to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
		from {transform:rotate(0deg);}
		to {transform:rotate(360deg);}
}

/* Buscador */
.dgrid-content {
	width: 100% !important;
}

/* Legend */
.legendWidget {
	overflow: auto !important;
	height: 100%;
	width: 100%;
}

.legendWidget div.item {
	width: 100%;
}

.legendWidget div.item + div.item {
	margin-top: 15px;
} 

.legendWidget div.head {
	width: 100%;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.6em;
}

.legendWidget div.item img.legend {
	padding-left: 10px;
}


/* Tree */
div.dijitTreeIsRoot >div.dijitTreeRow > span.dijitTreeContent {
	font-weight: bold;
	font-size: 14px;
}

.dijitIcon:before {
	width: 14px;
}

/* Modificaciones dbootstrap */
.dbootstrap .dijitTab {

		padding: 8px !important;
		line-height: 14px !important;
}

.dijitStackContainer-child {
	left: 0px !important;
  top: 0px !important;
}

/* Mesanje */
div.message.center > div {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

div.contentMsg > i {
	color: #b7b7b7;
}

div.contentMsg > div.title {
  font-size: 1.2em;
  line-height: 3.6em;
}

/* */

.dbootstrap .well, .dbootstrap fieldset {
	clear: both;
	margin-bottom: 0 !important;
	padding: 0 15px !important;
}




fieldset.lighter {
	background-color:rgba(255,255,255,0.6) !important;
}

.dbootstrap .dijitTabHover {
	background: white !important;
}

.dbootstrap .dijitTabContainerTop .dijitTabChecked {
	font-weight: bold;
}

.bg-silver, .dbootstrap .dijitTabChecked {
	background: #F5F5F5 !important;
}

.thumbnail {
	border-radius: 5px;
	margin: 5px 0px;
	width: 100%;
}

.dgrid .dgrid-row:hover {

}

.dgrid-content .dgrid-row .featureRow {
	min-height: 50px;
	padding: 8px 0px 8px 10px;
}

.featureRow .left {
	width: 89%;
	float: left;
	font-size: 12px;
}

.featureRow span.title, .featureRow span.subtitle, .featureRow span.port {
	float: left;
	clear: left;
	width: 100%;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}


.featureRow span.title{
	font-weight: bold;
	font-size: 15px;
}

.featureRow span.port{
	font-style: italic;
}

.featureRow .right {
	width: 10%;
	float: right;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
}

.featureRow .right:hover {
	cursor: pointer;
}

.sidebar .dijitAccordionTitle .dijitIcon {
	float: right;
}

.dgrid-scroller {
	overflow-y: auto !important;
}



.leaflet-control-measure .leaflet-control-measure-toggle {
	width: 26px;
	height: 26px;
}

.leaflet-container {
	font-family: 'Exo 2', sans-serif;
}