<div class="toolbarMap float border-rounded-all">
	<span data-dojo-type="app-client/banner/ToggleButtonGroup" class="toggleButtonGroup"
		data-dojo-attach-point="btnGroupToggleNode">
		<button data-dojo-type="dijit/form/ToggleButton"
			data-dojo-props="label: 'Arrastrar', iconClass: 'icon-hand-up', showLabel: false, checked: true"
			data-dojo-attach-event="onChange: activeDragPan"
			data-dojo-attach-point="btnDragPanNode">
		</button>
		<button data-dojo-type="dijit/form/ToggleButton"
			data-dojo-props="label: 'Acercarse', iconClass: 'icon-zoom-in', showLabel: false"
			data-dojo-attach-event="onChange: activeZoomboxIn">
		</button>
		<button data-dojo-type="dijit/form/ToggleButton"
			data-dojo-props="label: 'Alejarse', iconClass: 'icon-zoom-out', showLabel: false"
			data-dojo-attach-event="onChange: activeZoomboxOut">
		</button>
		<button data-dojo-type="dijit/form/ToggleButton"
			data-dojo-props="label: 'Consultar', iconClass: 'icon-info-sign', showLabel: false"
			data-dojo-attach-event="onChange: queryFeature">
		</button>
	</span>
	<div data-dojo-type="dijit/form/Button"
		data-dojo-props="label: 'Imprimir', iconClass: 'icon-print', showLabel: false" data-dojo-attach-event="onClick: print">
	</div>
	<div data-dojo-type="dijit/form/Button"
		data-dojo-props="label: 'Inicio', iconClass: 'icon-home', showLabel: false"
		data-dojo-attach-event="onClick: fullextent">
	</div>
	<div data-dojo-type="dijit/form/Select" style="width: 150px;"
		data-dojo-props="labelAttr: 'name',	value: 1, forceWidth: true, sortByLabel: false"
		data-dojo-attach-point="cbPortNode"
		data-dojo-attach-event="onChange: changePort"
		/>
</div>